body, html {
    height: 100%;
    background-color: #e4c2fa;
  }
  
/* .bg {
    background-image: url("baby.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */



@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');

*, *::before, *::afrer {
  box-sizing: border-box;
}

body {
  width: 1000px;
  margin: 100px auto 0;
  background: #e4c2fa;
}

.c_50_50 {
  background: #fffdfd;
  display: flex;
  height: 350px;
  margin-bottom: 50px;
}

.c_50_50_image {
  max-width: 50%;
  flex: 1 0 50%;
}

.c_50_50_image img {
  width: 100%;
}

.c_50_50_content {
  max-width: 50%;
  flex: 1 0 50%;
  align-self: center;
}

/* .c_50_50_content_info {
  padding: 0 150px;
} */

.c_50_50_first 
  .c_50_50_image img {
    object-fit: cover;
    height: 100%;
  }


.c_50_50_first_second {
  overflow: hidden; 
}

.c_50_50_content_info--body {
	padding-left: 60px;
	padding-top: 20px;
	/* align-items: center; */
}

.c_50_50_content_info--heading {
	 padding: 0 110px;
}

