
/* Fonts */
body{
    background-color: #edcdf0;
  }

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700);
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.05em;
  color: #1f2325;
}

/* Styling */
.timeline {
  margin: 2em auto;
  position: relative;
  max-width: 900px;
  list-style: none; 
}

.timeline:before {
    background-color: black;
    content: " ";
    margin-left: -1px;
    position: absolute;
    top: -3em;
    left: 5.3em;
    width: 2px;
    height: 100%;
  }

.timeline-event {
  position: relative;    
    }

.timeline-event .timeline-event-copy  h3 {
        color: #FE0000; 
        font-weight: 600;
      }

.timeline-event .timeline-event-thumbnail {
      box-shadow: 0 0 11px rgba(33,33,33,.2); 
      background-color: #1f9bcf;
    }

.timeline-event:hover .timeline-event-icon {
      transform: rotate(226deg);
      transition: all 0.3s ease-in-out 0s;
      background-color: #1f9bcf;
    }

.timeline-event-copy {
  padding: .25em 1em;
  position: relative;
  top: -3em;
  left: 4em;
  width: 80%;  
}

.timeline-event-copy p:not(.timeline-event-thumbnail) {
    padding-bottom: .5em;
  }

.timeline-event-copy strong {
    font-weight: 700;
  }

.timeline-event-copy h3 {
    font-size: 1.25em;
  }

.timeline-event-copy h4 {
    font-size: 1.2em;
    margin-bottom: .5em;
    color: #010080;
  }

.timeline-event-icon {
  transform: rotate(45deg);
  
  background-color: black;
  outline: 10px solid white;
  display: block;
  margin: 0.5em 0.5em 0.5em 0.6em;
  position: absolute;
  top: -3em;
  left: 2em;
  width: 1em;
  height: 1em;
}

.timeline-event-thumbnail {
  transition: box-shadow 0.5s ease-in 0.1s;
  color: white;
  font-size: 0.75em;
  background-color: black;
  box-shadow: inset 0 0 0 0em #ef795a;
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.25em 1em 0.2em 1em;
}


@keyframes color_change {
	0% { color: black; }
	100% { color: #1f9bcf; }
}

.exp {
    padding-top: 50px;
}

span {
  font-size: 18px !important;
}