#mainNavbar {
    font-size: 1.2rem;
    font-weight: 100;
	background: #e4e3e3 ;
}

#mainNavbar .navbar-brand {
    color: #ff1b2e;
    font-size: 1.5rem;
}

.navbar.scrolled {
    background: rgb(75, 75, 75) !important;
    transition: background 500ms;
}

.navbar.scrolled 
.nav-item a {
    color:rgb(246, 250, 253);
}

.fixed {
    position: fixed;
    top:0;
    width:100%;
}

@media (max-width: 1500px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 2rem;
    }
}

.ml-auto {
	padding-right: 30px;
}

.navbar-brand{
	padding-left: 30px;
}

.nav-item a {
	color: #5a5858;
}

.nav-item a.active {
	color: #ff1b2e !important;
}

.navbar-nav > li{
  margin-left:30px;
  margin-right:30px;
}