body {
    background-color: #edcdf0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5em;
  letter-spacing: .085em;
  margin: 1rem 0 1rem;
  color: red;
}

.top {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: .085em;
  margin: 2rem 0 1rem;
}

.tagline2 {
  text-align: center;
  text-transform: uppercase;
  display: block;
  letter-spacing: .3em;
  margin: 10px 0 10px;
  color: rgb(73, 72, 72);
  font-weight: 1000;
}

.profile-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.tagline {
  text-align: center;
  text-transform: uppercase;
  display: block;
  letter-spacing: .3em;
  margin-top: 10px;
  color: rgb(73, 72, 72);
  font-weight: 1000;
}

.page {
  max-width: 980px;
  padding: 0 20px;
  margin: 40px auto 0;
}

.page a {
  color: #000;
}

.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 10px;
  left: 0;
  background: #000;
  transition: .75s;
}

.loading-progress {
  height: 11px;
  background: #000;
  top: -11px;
  bottom: 0;
  width: 100%;
  position: absolute;
  transition: .1s;
}

.about-me {
  margin: 0;
  font-family: Nunito;
  font-size: 15px;
}

p {
  font-family: Nunito;
  font-size: 20px;
}

@media (max-width: 900px) {
  .profile-img {
    float: none;
    margin: 0 auto;
    width: 600px;
  }
  .about-me {
    max-width: 600px;
    margin: 0 auto;
  }
}

@media (max-width: 780px) {
  html {
    font-size: .85em;
  }
  .page {
    margin-top: 20px;
  }
  .profile-img {
    margin-top: 25px;
  }
}