body, html {
    height: 100%;
  }
  
.section1 {
  background-color: #edcdf0;
}

.section2 {
  background-color: #e4c2fa;
}
/* .bg {
    background-image: url("baby.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */

.section2 > div{
  padding: 200px;
}

/* ddddsdfdfdsds */

body {
  margin:0;
}

.patterns {
 height: 100vh;
}

.container {
  margin-right: 80px;
}

.svg {
  display: block;
}

@import url("https://fonts.googleapis.com/css?  family=Lora:400,400i,700,700i");
svg text {
 font-family: Lora;
 letter-spacing: 20px;
 stroke: #c90c77;
 font-size: 120px;
 font-weight: 700;
 stroke-width: 3;
 animation: textAnimate 3.5s;
 animation-fill-mode: forwards;
}

@keyframes textAnimate {
 0% {
   stroke-dasharray: 0 50%;
   stroke-dashoffset:  20%;
   fill:#edcdf0;
 }

 25% {
  fill:#f18bcf;
}
 
 50% {
  fill:rgb(221, 70, 171);
}

  75% {
  fill:#dd2490;
}

 100% {
   stroke-dasharray: 50% 0;
   stroke-dashoffstet: -20%;
   fill: #c90c77;
   stroke: rgb(250, 249, 247);
 }
}

.wrapper {
  
  font-family: Lora;
  font-size: 80px;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#showMe {
  opacity: 0;
  -moz-animation: cssAnimation 5s;
  /* Firefox */
  -webkit-animation: cssAnimation 5s;
  /* Safari and Chrome */
  -o-animation: cssAnimation 5s;
  /* Opera */
  animation: cssAnimation 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  99% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
@-webkit-keyframes cssAnimation {
  99% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

h1 {
  text-align: center;
}

img {
	align-self: center;
	max-height: 100%; 
	max-width: 100%;
}

